<div id="post-{{id}}" class="card">
    <img class="card-image" src={{thumbpath}} alt="Missing image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{description}}</p>
        <a href="/post/{{id}}" class="anchor-buttons">View Post</a>
    </div>
</div>